In [4]:
import pandas as pd
import numpy as np

train = pd.read_csv('train.csv')
train.head(10)

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541
5,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM UNLOCKED AUTO,Wednesday,INGLESIDE,NONE,0 Block of TEDDY AV,-122.403252,37.713431
6,2015-05-13 23:30:00,VEHICLE THEFT,STOLEN AUTOMOBILE,Wednesday,INGLESIDE,NONE,AVALON AV / PERU AV,-122.423327,37.725138
7,2015-05-13 23:30:00,VEHICLE THEFT,STOLEN AUTOMOBILE,Wednesday,BAYVIEW,NONE,KIRKWOOD AV / DONAHUE ST,-122.371274,37.727564
8,2015-05-13 23:00:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,RICHMOND,NONE,600 Block of 47TH AV,-122.508194,37.776601
9,2015-05-13 23:00:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,CENTRAL,NONE,JEFFERSON ST / LEAVENWORTH ST,-122.419088,37.807802

In [5]:
test = pd.read_csv('test.csv')
test.head(10)

,Id,Dates,DayOfWeek,PdDistrict,Address,X,Y
0,0,2015-05-10 23:59:00,Sunday,BAYVIEW,2000 Block of THOMAS AV,-122.399588,37.735051
1,1,2015-05-10 23:51:00,Sunday,BAYVIEW,3RD ST / REVERE AV,-122.391523,37.732432
2,2,2015-05-10 23:50:00,Sunday,NORTHERN,2000 Block of GOUGH ST,-122.426002,37.792212
3,3,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412
4,4,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412
5,5,2015-05-10 23:40:00,Sunday,TARAVAL,BROAD ST / CAPITOL AV,-122.459024,37.713172
6,6,2015-05-10 23:30:00,Sunday,INGLESIDE,100 Block of CHENERY ST,-122.425616,37.739351
7,7,2015-05-10 23:30:00,Sunday,INGLESIDE,200 Block of BANKS ST,-122.412652,37.739750
8,8,2015-05-10 23:10:00,Sunday,MISSION,2900 Block of 16TH ST,-122.418700,37.765165
9,9,2015-05-10 23:10:00,Sunday,CENTRAL,TAYLOR ST / GREEN ST,-122.413935,37.798886

In [7]:
sample_sub = pd.read_csv('sampleSubmission.csv')
sample_sub.head(10)

,Id,ARSON,ASSAULT,BAD CHECKS,BRIBERY,BURGLARY,DISORDERLY CONDUCT,DRIVING UNDER THE INFLUENCE,DRUG/NARCOTIC,DRUNKENNESS,...,SEX OFFENSES NON FORCIBLE,STOLEN PROPERTY,SUICIDE,SUSPICIOUS OCC,TREA,TRESPASS,VANDALISM,VEHICLE THEFT,WARRANTS,WEAPON LAWS
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
8,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [21]:
category_list = train['Category'].values.tolist()
category_dict = dict((item, 0) for item in category_list)
len(category_dict)

39

In [22]:
for item in category_list:
    category_dict[item] = category_dict[item] + 1
category_dict

{'ARSON': 1513,
 'ASSAULT': 76876,
 'BAD CHECKS': 406,
 'BRIBERY': 289,
 'BURGLARY': 36755,
 'DISORDERLY CONDUCT': 4320,
 'DRIVING UNDER THE INFLUENCE': 2268,
 'DRUG/NARCOTIC': 53971,
 'DRUNKENNESS': 4280,
 'EMBEZZLEMENT': 1166,
 'EXTORTION': 256,
 'FAMILY OFFENSES': 491,
 'FORGERY/COUNTERFEITING': 10609,
 'FRAUD': 16679,
 'GAMBLING': 146,
 'KIDNAPPING': 2341,
 'LARCENY/THEFT': 174900,
 'LIQUOR LAWS': 1903,
 'LOITERING': 1225,
 'MISSING PERSON': 25989,
 'NON-CRIMINAL': 92304,
 'OTHER OFFENSES': 126182,
 'PORNOGRAPHY/OBSCENE MAT': 22,
 'PROSTITUTION': 7484,
 'RECOVERED VEHICLE': 3138,
 'ROBBERY': 23000,
 'RUNAWAY': 1946,
 'SECONDARY CODES': 9985,
 'SEX OFFENSES FORCIBLE': 4388,
 'SEX OFFENSES NON FORCIBLE': 148,
 'STOLEN PROPERTY': 4540,
 'SUICIDE': 508,
 'SUSPICIOUS OCC': 31414,
 'TREA': 6,
 'TRESPASS': 7326,
 'VANDALISM': 44725,
 'VEHICLE THEFT': 53781,
 'WARRANTS': 42214,
 'WEAPON LAWS': 8555}

In [41]:
my_tab = pd.crosstab(index=train['Category'], columns='count')
my_tab['count']

Category
ARSON                            1513
ASSAULT                         76876
BAD CHECKS                        406
BRIBERY                           289
BURGLARY                        36755
DISORDERLY CONDUCT               4320
DRIVING UNDER THE INFLUENCE      2268
DRUG/NARCOTIC                   53971
DRUNKENNESS                      4280
EMBEZZLEMENT                     1166
EXTORTION                         256
FAMILY OFFENSES                   491
FORGERY/COUNTERFEITING          10609
FRAUD                           16679
GAMBLING                          146
KIDNAPPING                       2341
LARCENY/THEFT                  174900
LIQUOR LAWS                      1903
LOITERING                        1225
MISSING PERSON                  25989
NON-CRIMINAL                    92304
OTHER OFFENSES                 126182
PORNOGRAPHY/OBSCENE MAT            22
PROSTITUTION                     7484
RECOVERED VEHICLE                3138
ROBBERY                         23000
RUNAWAY                          1946
SECONDARY CODES                  9985
SEX OFFENSES FORCIBLE            4388
SEX OFFENSES NON FORCIBLE         148
STOLEN PROPERTY                  4540
SUICIDE                           508
SUSPICIOUS OCC                  31414
TREA                                6
TRESPASS                         7326
VANDALISM                       44725
VEHICLE THEFT                   53781
WARRANTS                        42214
WEAPON LAWS                      8555
Name: count, dtype: int64

In [40]:
my_tab['count'] / len(train['Category']) * 100

Category
ARSON                           0.172314
ASSAULT                         8.755320
BAD CHECKS                      0.046239
BRIBERY                         0.032914
BURGLARY                        4.185985
DISORDERLY CONDUCT              0.492000
DRIVING UNDER THE INFLUENCE     0.258300
DRUG/NARCOTIC                   6.146696
DRUNKENNESS                     0.487444
EMBEZZLEMENT                    0.132794
EXTORTION                       0.029156
FAMILY OFFENSES                 0.055919
FORGERY/COUNTERFEITING          1.208247
FRAUD                           1.899552
GAMBLING                        0.016628
KIDNAPPING                      0.266614
LARCENY/THEFT                  19.919162
LIQUOR LAWS                     0.216731
LOITERING                       0.139514
MISSING PERSON                  2.959858
NON-CRIMINAL                   10.512397
OTHER OFFENSES                 14.370724
PORNOGRAPHY/OBSCENE MAT         0.002506
PROSTITUTION                    0.852344
RECOVERED VEHICLE               0.357383
ROBBERY                         2.619444
RUNAWAY                         0.221628
SECONDARY CODES                 1.137180
SEX OFFENSES FORCIBLE           0.499744
SEX OFFENSES NON FORCIBLE       0.016856
STOLEN PROPERTY                 0.517055
SUICIDE                         0.057856
SUSPICIOUS OCC                  3.577705
TREA                            0.000683
TRESPASS                        0.834350
VANDALISM                       5.093679
VEHICLE THEFT                   6.125057
WARRANTS                        4.807704
WEAPON LAWS                     0.974319
Name: count, dtype: float64