In [3]:
import pandas as pd
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [4]:
cols = ['Name', 'Ticket', 'Cabin']
train = train.drop(cols, axis=1)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.7+ KB

In [5]:
def pandas_drop_columns(pandas_object):
    cols = ['Name', 'Ticket', 'Cabin']
    pandas_object = pandas_object.drop(cols, axis=1)
    #pandas_object = pandas_object.dropna()
    return pandas_object

def pandas_convert_columns(pandas_object):
    dummies = []
    cols = ['Pclass', 'Sex', 'Embarked']
    for col in cols:
        dummies.append(pd.get_dummies(pandas_object[col]))
    temp_dummies = pd.concat(dummies, axis=1)
    pandas_object = pd.concat((pandas_object, temp_dummies), axis=1)
    pandas_object = pandas_object.drop(['Pclass', 'Sex', 'Embarked'], axis=1)
    return pandas_object

In [6]:
pandas_convert_columns(train).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
1              891 non-null float64
2              891 non-null float64
3              891 non-null float64
female         891 non-null float64
male           891 non-null float64
C              891 non-null float64
Q              891 non-null float64
S              891 non-null float64
dtypes: float64(10), int64(4)
memory usage: 97.5 KB

In [7]:
dummies = []
cols = ['Pclass','Sex','Embarked']
for col in cols:
    print(pd.get_dummies(train[col]))
    dummies.append(pd.get_dummies(train[col]))

       1    2    3
0    0.0  0.0  1.0
1    1.0  0.0  0.0
2    0.0  0.0  1.0
3    1.0  0.0  0.0
4    0.0  0.0  1.0
5    0.0  0.0  1.0
6    1.0  0.0  0.0
7    0.0  0.0  1.0
8    0.0  0.0  1.0
9    0.0  1.0  0.0
10   0.0  0.0  1.0
11   1.0  0.0  0.0
12   0.0  0.0  1.0
13   0.0  0.0  1.0
14   0.0  0.0  1.0
15   0.0  1.0  0.0
16   0.0  0.0  1.0
17   0.0  1.0  0.0
18   0.0  0.0  1.0
19   0.0  0.0  1.0
20   0.0  1.0  0.0
21   0.0  1.0  0.0
22   0.0  0.0  1.0
23   1.0  0.0  0.0
24   0.0  0.0  1.0
25   0.0  0.0  1.0
26   0.0  0.0  1.0
27   1.0  0.0  0.0
28   0.0  0.0  1.0
29   0.0  0.0  1.0
..   ...  ...  ...
861  0.0  1.0  0.0
862  1.0  0.0  0.0
863  0.0  0.0  1.0
864  0.0  1.0  0.0
865  0.0  1.0  0.0
866  0.0  1.0  0.0
867  1.0  0.0  0.0
868  0.0  0.0  1.0
869  0.0  0.0  1.0
870  0.0  0.0  1.0
871  1.0  0.0  0.0
872  1.0  0.0  0.0
873  0.0  0.0  1.0
874  0.0  1.0  0.0
875  0.0  0.0  1.0
876  0.0  0.0  1.0
877  0.0  0.0  1.0
878  0.0  0.0  1.0
879  1.0  0.0  0.0
880  0.0  1.0  0.0
881  0.0  0.0  1.0
882  0.0  0.0  1.0
883  0.0  1.0  0.0
884  0.0  0.0  1.0
885  0.0  0.0  1.0
886  0.0  1.0  0.0
887  1.0  0.0  0.0
888  0.0  0.0  1.0
889  1.0  0.0  0.0
890  0.0  0.0  1.0

[891 rows x 3 columns]
     female  male
0       0.0   1.0
1       1.0   0.0
2       1.0   0.0
3       1.0   0.0
4       0.0   1.0
5       0.0   1.0
6       0.0   1.0
7       0.0   1.0
8       1.0   0.0
9       1.0   0.0
10      1.0   0.0
11      1.0   0.0
12      0.0   1.0
13      0.0   1.0
14      1.0   0.0
15      1.0   0.0
16      0.0   1.0
17      0.0   1.0
18      1.0   0.0
19      1.0   0.0
20      0.0   1.0
21      0.0   1.0
22      1.0   0.0
23      0.0   1.0
24      1.0   0.0
25      1.0   0.0
26      0.0   1.0
27      0.0   1.0
28      1.0   0.0
29      0.0   1.0
..      ...   ...
861     0.0   1.0
862     1.0   0.0
863     1.0   0.0
864     0.0   1.0
865     1.0   0.0
866     1.0   0.0
867     0.0   1.0
868     0.0   1.0
869     0.0   1.0
870     0.0   1.0
871     1.0   0.0
872     0.0   1.0
873     0.0   1.0
874     1.0   0.0
875     1.0   0.0
876     0.0   1.0
877     0.0   1.0
878     0.0   1.0
879     1.0   0.0
880     1.0   0.0
881     0.0   1.0
882     1.0   0.0
883     0.0   1.0
884     0.0   1.0
885     1.0   0.0
886     0.0   1.0
887     1.0   0.0
888     1.0   0.0
889     0.0   1.0
890     0.0   1.0

[891 rows x 2 columns]
       C    Q    S
0    0.0  0.0  1.0
1    1.0  0.0  0.0
2    0.0  0.0  1.0
3    0.0  0.0  1.0
4    0.0  0.0  1.0
5    0.0  1.0  0.0
6    0.0  0.0  1.0
7    0.0  0.0  1.0
8    0.0  0.0  1.0
9    1.0  0.0  0.0
10   0.0  0.0  1.0
11   0.0  0.0  1.0
12   0.0  0.0  1.0
13   0.0  0.0  1.0
14   0.0  0.0  1.0
15   0.0  0.0  1.0
16   0.0  1.0  0.0
17   0.0  0.0  1.0
18   0.0  0.0  1.0
19   1.0  0.0  0.0
20   0.0  0.0  1.0
21   0.0  0.0  1.0
22   0.0  1.0  0.0
23   0.0  0.0  1.0
24   0.0  0.0  1.0
25   0.0  0.0  1.0
26   1.0  0.0  0.0
27   0.0  0.0  1.0
28   0.0  1.0  0.0
29   0.0  0.0  1.0
..   ...  ...  ...
861  0.0  0.0  1.0
862  0.0  0.0  1.0
863  0.0  0.0  1.0
864  0.0  0.0  1.0
865  0.0  0.0  1.0
866  1.0  0.0  0.0
867  0.0  0.0  1.0
868  0.0  0.0  1.0
869  0.0  0.0  1.0
870  0.0  0.0  1.0
871  0.0  0.0  1.0
872  0.0  0.0  1.0
873  0.0  0.0  1.0
874  1.0  0.0  0.0
875  1.0  0.0  0.0
876  0.0  0.0  1.0
877  0.0  0.0  1.0
878  0.0  0.0  1.0
879  1.0  0.0  0.0
880  0.0  0.0  1.0
881  0.0  0.0  1.0
882  0.0  0.0  1.0
883  0.0  0.0  1.0
884  0.0  0.0  1.0
885  0.0  1.0  0.0
886  0.0  0.0  1.0
887  0.0  0.0  1.0
888  0.0  0.0  1.0
889  1.0  0.0  0.0
890  0.0  1.0  0.0

[891 rows x 3 columns]

In [8]:
titanic_dummies = pd.concat(dummies,axis=1)
titanic_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
1         891 non-null float64
2         891 non-null float64
3         891 non-null float64
female    891 non-null float64
male      891 non-null float64
C         891 non-null float64
Q         891 non-null float64
S         891 non-null float64
dtypes: float64(8)
memory usage: 55.8 KB

In [9]:
train = pd.concat((train, titanic_dummies), axis=1)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 17 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       889 non-null object
1              891 non-null float64
2              891 non-null float64
3              891 non-null float64
female         891 non-null float64
male           891 non-null float64
C              891 non-null float64
Q              891 non-null float64
S              891 non-null float64
dtypes: float64(10), int64(5), object(2)
memory usage: 118.4+ KB

In [10]:
train = train.drop(['Pclass', 'Sex', 'Embarked'], axis=1)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
1              891 non-null float64
2              891 non-null float64
3              891 non-null float64
female         891 non-null float64
male           891 non-null float64
C              891 non-null float64
Q              891 non-null float64
S              891 non-null float64
dtypes: float64(10), int64(4)
memory usage: 97.5 KB

In [11]:
train['Age'] = train['Age'].interpolate()
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
1              891 non-null float64
2              891 non-null float64
3              891 non-null float64
female         891 non-null float64
male           891 non-null float64
C              891 non-null float64
Q              891 non-null float64
S              891 non-null float64
dtypes: float64(10), int64(4)
memory usage: 97.5 KB

In [12]:
train = train.dropna()
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 14 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
1              891 non-null float64
2              891 non-null float64
3              891 non-null float64
female         891 non-null float64
male           891 non-null float64
C              891 non-null float64
Q              891 non-null float64
S              891 non-null float64
dtypes: float64(10), int64(4)
memory usage: 104.4 KB

In [13]:
#test['Survived'] = test['Sex'].map({'female':1, 'male':0}).astype(int)
# test['Survived'] = 0
# for index, row in test.iterrows():
#     if row['Sex'] == 'female':
#         test['Survived'][index] = 1
#     else:
#         # male
#         if row['Pclass'] == 1:
#             test['Survived'][index] = 1
#         else:
#             test['Survived'][index] = 0

from sklearn import cross_validation
import numpy as np
y = train['Survived'].values
X = train.values
X = np.delete(X,1,axis=1)

In [14]:
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size=0.3, random_state=1)
type(X_train)

numpy.ndarray

In [15]:
from sklearn import tree
dt = tree.DecisionTreeClassifier(max_depth=6)
dt.fit(X_train, y_train)
dt.score(X_test, y_test)

0.76865671641791045

In [16]:
test = pd.read_csv('test.csv')
test = pandas_drop_columns(test)
X_result_pandas = pandas_convert_columns(test)
print(X_result_pandas.info())
print(type(X_result_pandas))
print(type(X_result_pandas.values))
y_result = dt.predict(X_result_pandas.values)
print(type(y_result))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 331 entries, 0 to 415
Data columns (total 13 columns):
PassengerId    331 non-null int64
Age            331 non-null float64
SibSp          331 non-null int64
Parch          331 non-null int64
Fare           331 non-null float64
1              331 non-null float64
2              331 non-null float64
3              331 non-null float64
female         331 non-null float64
male           331 non-null float64
C              331 non-null float64
Q              331 non-null float64
S              331 non-null float64
dtypes: float64(10), int64(3)
memory usage: 36.2 KB
None
<class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [19]:
X_result_np = X_result_pandas.values
# print(X_result_np)
output = np.column_stack((X_result_np[:,0], y_result))
submission_format = pd.DataFrame(output.astype('int'), columns=['PassengerID', 'Survived'])
submission_format.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331 entries, 0 to 330
Data columns (total 2 columns):
PassengerID    331 non-null int64
Survived       331 non-null int64
dtypes: int64(2)
memory usage: 5.2 KB

In [20]:
submission_format.to_csv('discisoin_tree_depth6.csv', index=False)