# 타이타닉 sklearn 으로 풀어내기 과정
## 과정의 단계를 하나하나 진행
### 1. csv 파일 읽어오기

In [2]:
import pandas as pd
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')
# test['Survived'] = test['Sex'].map({'female':1, 'male':0}).astype(int)
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

### 2. 관여하고싶지 않은 칼럼은 잘라내기

In [2]:
cols = ['Name', 'Ticket', 'Cabin']
train = train.drop(cols, axis=1)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.7+ KB

### 3. 관여할 칼럼들을 이진법으로 찢기

In [3]:
dummies = []
cols = ['Pclass','Sex','Embarked']
for col in cols:
    print(pd.get_dummies(train[col]))
    dummies.append(pd.get_dummies(train[col]))

       1    2    3
0    0.0  0.0  1.0
1    1.0  0.0  0.0
2    0.0  0.0  1.0
3    1.0  0.0  0.0
4    0.0  0.0  1.0
5    0.0  0.0  1.0
6    1.0  0.0  0.0
7    0.0  0.0  1.0
8    0.0  0.0  1.0
9    0.0  1.0  0.0
10   0.0  0.0  1.0
11   1.0  0.0  0.0
12   0.0  0.0  1.0
13   0.0  0.0  1.0
14   0.0  0.0  1.0
15   0.0  1.0  0.0
16   0.0  0.0  1.0
17   0.0  1.0  0.0
18   0.0  0.0  1.0
19   0.0  0.0  1.0
20   0.0  1.0  0.0
21   0.0  1.0  0.0
22   0.0  0.0  1.0
23   1.0  0.0  0.0
24   0.0  0.0  1.0
25   0.0  0.0  1.0
26   0.0  0.0  1.0
27   1.0  0.0  0.0
28   0.0  0.0  1.0
29   0.0  0.0  1.0
..   ...  ...  ...
861  0.0  1.0  0.0
862  1.0  0.0  0.0
863  0.0  0.0  1.0
864  0.0  1.0  0.0
865  0.0  1.0  0.0
866  0.0  1.0  0.0
867  1.0  0.0  0.0
868  0.0  0.0  1.0
869  0.0  0.0  1.0
870  0.0  0.0  1.0
871  1.0  0.0  0.0
872  1.0  0.0  0.0
873  0.0  0.0  1.0
874  0.0  1.0  0.0
875  0.0  0.0  1.0
876  0.0  0.0  1.0
877  0.0  0.0  1.0
878  0.0  0.0  1.0
879  1.0  0.0  0.0
880  0.0  1.0  0.0
881  0.0  0.0  1.0
882  0.0  0.0  1.0
883  0.0  1.0  0.0
884  0.0  0.0  1.0
885  0.0  0.0  1.0
886  0.0  1.0  0.0
887  1.0  0.0  0.0
888  0.0  0.0  1.0
889  1.0  0.0  0.0
890  0.0  0.0  1.0

[891 rows x 3 columns]
     female  male
0       0.0   1.0
1       1.0   0.0
2       1.0   0.0
3       1.0   0.0
4       0.0   1.0
5       0.0   1.0
6       0.0   1.0
7       0.0   1.0
8       1.0   0.0
9       1.0   0.0
10      1.0   0.0
11      1.0   0.0
12      0.0   1.0
13      0.0   1.0
14      1.0   0.0
15      1.0   0.0
16      0.0   1.0
17      0.0   1.0
18      1.0   0.0
19      1.0   0.0
20      0.0   1.0
21      0.0   1.0
22      1.0   0.0
23      0.0   1.0
24      1.0   0.0
25      1.0   0.0
26      0.0   1.0
27      0.0   1.0
28      1.0   0.0
29      0.0   1.0
..      ...   ...
861     0.0   1.0
862     1.0   0.0
863     1.0   0.0
864     0.0   1.0
865     1.0   0.0
866     1.0   0.0
867     0.0   1.0
868     0.0   1.0
869     0.0   1.0
870     0.0   1.0
871     1.0   0.0
872     0.0   1.0
873     0.0   1.0
874     1.0   0.0
875     1.0   0.0
876     0.0   1.0
877     0.0   1.0
878     0.0   1.0
879     1.0   0.0
880     1.0   0.0
881     0.0   1.0
882     1.0   0.0
883     0.0   1.0
884     0.0   1.0
885     1.0   0.0
886     0.0   1.0
887     1.0   0.0
888     1.0   0.0
889     0.0   1.0
890     0.0   1.0

[891 rows x 2 columns]
       C    Q    S
0    0.0  0.0  1.0
1    1.0  0.0  0.0
2    0.0  0.0  1.0
3    0.0  0.0  1.0
4    0.0  0.0  1.0
5    0.0  1.0  0.0
6    0.0  0.0  1.0
7    0.0  0.0  1.0
8    0.0  0.0  1.0
9    1.0  0.0  0.0
10   0.0  0.0  1.0
11   0.0  0.0  1.0
12   0.0  0.0  1.0
13   0.0  0.0  1.0
14   0.0  0.0  1.0
15   0.0  0.0  1.0
16   0.0  1.0  0.0
17   0.0  0.0  1.0
18   0.0  0.0  1.0
19   1.0  0.0  0.0
20   0.0  0.0  1.0
21   0.0  0.0  1.0
22   0.0  1.0  0.0
23   0.0  0.0  1.0
24   0.0  0.0  1.0
25   0.0  0.0  1.0
26   1.0  0.0  0.0
27   0.0  0.0  1.0
28   0.0  1.0  0.0
29   0.0  0.0  1.0
..   ...  ...  ...
861  0.0  0.0  1.0
862  0.0  0.0  1.0
863  0.0  0.0  1.0
864  0.0  0.0  1.0
865  0.0  0.0  1.0
866  1.0  0.0  0.0
867  0.0  0.0  1.0
868  0.0  0.0  1.0
869  0.0  0.0  1.0
870  0.0  0.0  1.0
871  0.0  0.0  1.0
872  0.0  0.0  1.0
873  0.0  0.0  1.0
874  1.0  0.0  0.0
875  1.0  0.0  0.0
876  0.0  0.0  1.0
877  0.0  0.0  1.0
878  0.0  0.0  1.0
879  1.0  0.0  0.0
880  0.0  0.0  1.0
881  0.0  0.0  1.0
882  0.0  0.0  1.0
883  0.0  0.0  1.0
884  0.0  0.0  1.0
885  0.0  1.0  0.0
886  0.0  0.0  1.0
887  0.0  0.0  1.0
888  0.0  0.0  1.0
889  1.0  0.0  0.0
890  0.0  1.0  0.0

[891 rows x 3 columns]

In [4]:
titanic_dummies = pd.concat(dummies,axis=1)
titanic_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
1         891 non-null float64
2         891 non-null float64
3         891 non-null float64
female    891 non-null float64
male      891 non-null float64
C         891 non-null float64
Q         891 non-null float64
S         891 non-null float64
dtypes: float64(8)
memory usage: 55.8 KB

### 4. 메인 pandas 객체에게 연결하기

In [5]:
train = pd.concat((train, titanic_dummies), axis=1)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 17 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       889 non-null object
1              891 non-null float64
2              891 non-null float64
3              891 non-null float64
female         891 non-null float64
male           891 non-null float64
C              891 non-null float64
Q              891 non-null float64
S              891 non-null float64
dtypes: float64(10), int64(5), object(2)
memory usage: 118.4+ KB

### 5. 찢었다 이어붙인 칼럼은 원본에서 떨어뜨리기

In [6]:
train = train.drop(['Pclass', 'Sex', 'Embarked'], axis=1)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
1              891 non-null float64
2              891 non-null float64
3              891 non-null float64
female         891 non-null float64
male           891 non-null float64
C              891 non-null float64
Q              891 non-null float64
S              891 non-null float64
dtypes: float64(10), int64(4)
memory usage: 97.5 KB

### 6. Age 칼럼의 빈 칸을 적절한 평균값으로 채우기

In [7]:
train['Age'] = train['Age'].interpolate()
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
1              891 non-null float64
2              891 non-null float64
3              891 non-null float64
female         891 non-null float64
male           891 non-null float64
C              891 non-null float64
Q              891 non-null float64
S              891 non-null float64
dtypes: float64(10), int64(4)
memory usage: 97.5 KB

### 7. NaN 내용물은 모두 떨어뜨려내기

In [8]:
train = train.dropna()
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 14 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
1              891 non-null float64
2              891 non-null float64
3              891 non-null float64
female         891 non-null float64
male           891 non-null float64
C              891 non-null float64
Q              891 non-null float64
S              891 non-null float64
dtypes: float64(10), int64(4)
memory usage: 104.4 KB

## sklearn 적용하기
### 8. 데이터 리펙토링하기
#### X에는 Survived 칼럼만 없애고, y에는  Survived 칼럼만 남긴다

In [9]:
from sklearn import cross_validation
import numpy as np
y = train['Survived'].values
X = train.values
X = np.delete(X,1,axis=1)

### 9. train data -> train, test 로 자동으로 찢어주는 함수

In [10]:
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size=0.3, random_state=0)
type(X_train)

numpy.ndarray

### 10. DecisionTree 구축, score 도 뽑아보기

In [11]:
from sklearn import tree
dt = tree.DecisionTreeClassifier(max_depth=5)
dt.fit(X_train, y_train)
dt.score(X_test, y_test)

0.78731343283582089

#### 여기서 decisiontree 로부터 결과값을 predict 하여 제출하기 위해서는 test.csv 로 부터 읽은 내용도 
#### 위와 동일한 작업을 그대로 거쳐야 함. 따라서 일련의 과정을 함수로 정의

### 11. 모듈 정의

In [12]:
def pandas_drop_columns(pandas_object):
    cols = ['Name', 'Ticket', 'Cabin']
    pandas_object = pandas_object.drop(cols, axis=1)
    # pandas_object = pandas_object.dropna()
    return pandas_object

def pandas_convert_columns(pandas_object):
    dummies = []
    cols = ['Pclass', 'Sex', 'Embarked']
    for col in cols:
        dummies.append(pd.get_dummies(pandas_object[col]))
    temp_dummies = pd.concat(dummies, axis=1)
    pandas_object = pd.concat((pandas_object, temp_dummies), axis=1)
    pandas_object = pandas_object.drop(['Pclass', 'Sex', 'Embarked'], axis=1)
    pandas_object['Age'] = pandas_object['Age'].interpolate()
    pandas_object['Fare'] = pandas_object['Fare'].interpolate()
    pandas_object = pandas_object.dropna()
    return pandas_object

### 12. 모듈이 제대로 동작하는지 테스트

In [13]:
function_train = pd.read_csv('train.csv')

In [14]:
function_train = pandas_drop_columns(function_train)
function_train = pandas_convert_columns(function_train)
function_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 14 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
1              891 non-null float64
2              891 non-null float64
3              891 non-null float64
female         891 non-null float64
male           891 non-null float64
C              891 non-null float64
Q              891 non-null float64
S              891 non-null float64
dtypes: float64(10), int64(4)
memory usage: 104.4 KB

In [15]:
from sklearn import cross_validation
import numpy as np
y = function_train['Survived'].values
X = function_train.values
X = np.delete(X,1,axis=1)

In [28]:
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size=0.3, random_state=0)
type(X_train)

numpy.ndarray

In [32]:
from sklearn import tree
dt = tree.DecisionTreeClassifier(max_depth=5)
dt.fit(X_train, y_train)
dt.score(X_test, y_test)

0.79104477611940294

### 13. test.csv 에 대해서도 모듈일 적용

In [18]:
test = pd.read_csv('test.csv')
test = pandas_drop_columns(test)
test = pandas_convert_columns(test)
print(test.info())
print(type(test))        # DataFrame
print(type(test.values)) # ndarray
y_result = dt.predict(test.values) 
print(type(y_result))    # ndarray

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 0 to 417
Data columns (total 13 columns):
PassengerId    418 non-null int64
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Fare           418 non-null float64
1              418 non-null float64
2              418 non-null float64
3              418 non-null float64
female         418 non-null float64
male           418 non-null float64
C              418 non-null float64
Q              418 non-null float64
S              418 non-null float64
dtypes: float64(10), int64(3)
memory usage: 45.7 KB
None
<class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

### 14. test 에 대해서 numpy 형태로 만들고 제출형식에 맞도록 이어 붙이기

In [19]:
X_result_np = test.values
# print(X_result_np)
output = np.column_stack((X_result_np[:,0], y_result))
# x_result 에서는 PassengerId 만 가져와야하고
# y_result 에서는 Survived 칼럼을 가져와야함
# 그리고 이 두개를 이어 붙인다

### 15. 제출형식에 맞게 만들어서

In [20]:
submission_format = pd.DataFrame(output.astype('int'), columns=['PassengerID', 'Survived'])
submission_format.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
PassengerID    418 non-null int64
Survived       418 non-null int64
dtypes: int64(2)
memory usage: 6.6 KB

### 16. 제출

In [21]:
submission_format.to_csv('discisoin_tree_depth6.csv', index=False)

# 더 예측률을 높이고자 한다면

##  RandomForeset 와 GradientBoosting을 이용하기

### 17. RandomForest

In [22]:
from sklearn import ensemble
dt = ensemble.RandomForestClassifier(n_estimators=100)
dt.fit(X_train, y_train)
dt.score(X_test, y_test)

0.76865671641791045

### 18 GradientBoosting

In [23]:
# dt = ensemble.GradientBoostingClassifier()
# dt.fit(X_train, y_train)
# dt.score(X_test, y_test)

In [24]:
test = pd.read_csv('test.csv')
test = pandas_drop_columns(test)
test = pandas_convert_columns(test)
print(test.info())
print(type(test))        # DataFrame
print(type(test.values)) # ndarray
y_result = dt.predict(test.values)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 0 to 417
Data columns (total 13 columns):
PassengerId    418 non-null int64
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Fare           418 non-null float64
1              418 non-null float64
2              418 non-null float64
3              418 non-null float64
female         418 non-null float64
male           418 non-null float64
C              418 non-null float64
Q              418 non-null float64
S              418 non-null float64
dtypes: float64(10), int64(3)
memory usage: 45.7 KB
None
<class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'>

### 19. 새 결과물 제출

In [25]:
X_result_np = test.values
# print(X_result_np)
output = np.column_stack((X_result_np[:,0], y_result))

submission_format = pd.DataFrame(output.astype('int'), columns=['PassengerID', 'Survived'])
submission_format.info()

submission_format.to_csv('random_tree_depth6.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
PassengerID    418 non-null int64
Survived       418 non-null int64
dtypes: int64(2)
memory usage: 6.6 KB